---
import FormattedDate from "@/components/FormattedDate.astro";
import Layout from "@layouts/Layout.astro";
import { type CollectionEntry, getCollection, render } from "astro:content";
import Article from "@components/Article.astro";
import Tags from "@components/Tags.astro";

export async function getStaticPaths() {
    const item = await getCollection("blog", ({ id }) => {
        // Filter to only English content (not in es/ subfolder)
        return !id.startsWith("es/");
    });
    const paths = item.map((item) => ({
        params: { id: item.id },
        props: item,
    }));

    return paths;
}
type Props = CollectionEntry<"blog">;

const item = Astro.props;
const { Content } = await render(item);
---

<Layout title={item.data.title + " | Jaycem"} lang="en">
    <section class="mx-auto max-w-6xl space-y-16">
        <!--header title-->
        <div class="space-y-8 text-center">
            <!--date-->
            <p transition:name={"blog-date-" + item.id}>
                <FormattedDate date={item.data.date} includeDay />
                {
                    item.data.updatedDate && (
                        <>
                            - Updated on{" "}
                            <FormattedDate
                                date={item.data.updatedDate}
                                includeDay
                            />
                        </>
                    )
                }
            </p>

            <h1 transition:name={"blog-title-" + item.id}>
                {item.data.title}
            </h1>
            <p transition:name={"blog-desc-" + item.id}>
                {item.data.description}
            </p>

            <!--tags-->
            <div class="grid justify-center">
                <Tags tags={item.data.tags} type="blog" lang="en" />
            </div>
        </div>
    </section>

    <!--markdown content -->
    <Article>
        <Content />
    </Article>
</Layout>
