---
import type { Blog } from "@lib/types";
import FormattedDate from "@components/FormattedDate.astro";
import ArrowRightIcon from "@assets/icons/arrow-right.svg";
import Link from "@ui/Link.astro";
import { getTranslations, type Locale } from "@lib/translations";

type Props = {
    item: Blog;
    lang: Locale;
};

const { item, lang } = Astro.props;
const t = getTranslations(lang);

// Clean the ID for URL generation
const cleanId = item.id.replace("es/", "");
const href = `/${t.routes.blog}/${cleanId}`;
---

<div class="flex flex-col gap-4">
    <p class="text-base font-light" transition:name={"blog-date-" + item.id}>
        <FormattedDate date={item.data.date} includeDay />
        {
            item.data.updatedDate && (
                <>
                    - Updated on{" "}
                    <FormattedDate date={item.data.updatedDate} includeDay />
                </>
            )
        }
    </p>
    <h3 transition:name={"blog-title-" + item.id}>
        <Link href={href} lang={lang} variant="link">
            {item.data.title}
        </Link>
    </h3>

    <p transition:name={"blog-desc-" + item.id}>
        {item.data.description}
    </p>

    <Link href={href} lang={lang} variant="link" class="inline-flex gap-2">
        {t.blog.readMore}
        <ArrowRightIcon width={20} height={20} />
    </Link>
</div>
