---
import type { Blog } from "@lib/types";
import FormattedDate from "@components/FormattedDate.astro";
import ArrowRightIcon from "@assets/icons/arrow-right.svg";

type Props = {
    item: Blog;
};

const { item } = Astro.props;
---

<div class="flex flex-col gap-4">
    <p class="text-base font-light" transition:name={"blog-date-" + item.id}>
        <FormattedDate date={item.data.date} includeDay />
        {
            item.data.updatedDate && (
                <>
                    - Updated on{" "}
                    <FormattedDate date={item.data.updatedDate} includeDay />
                </>
            )
        }
    </p>
    <h3 transition:name={"blog-title-" + item.id}>
        <a href={`/blog/${item.id}`}>
            {item.data.title}
        </a>
    </h3>

    <p transition:name={"blog-desc-" + item.id}>
        {item.data.description}
    </p>

    <a class="group inline-flex items-center gap-2" href={`/blog/${item.id}`}>
        Read more

        <ArrowRightIcon width={20} height={20} />
    </a>
</div>
